.navigation {
    border: thick double #bdc5ce;
    border-radius: 20px;
    text-align: center;
    background-image: url("../images/background-image.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.navigation__list {
    padding: 0 15px;
    list-style-type: none;
}

.navigation__listItem {
    margin: 10px 0;
}

.navigation__link {
    text-decoration: none;
    background-color:  hsla(202, 72%, 50%, 0.11);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.203);
    border-radius: 20px;
    margin: 10px;
}

.navigation__link:hover {
    background-color: hsla(202, 72%, 100%, 0.11);
}

.navigation__link--table {
    color: #27276e;
}