.section__header {
    background-color: #c9c4e2a4;
    text-shadow: 1px 2px 5px #25252760;
    background-color: #2b1a8160;
    text-align: center;
}

.section__subHeader {
    color: #032636;
    background-color: #33339134;
    text-align: left;
    border-radius: 20px;
    text-align: center;
}

.section__button {
    background-color: #33339134;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding: 15px;
    font-family: "Lato", sans-serif;
}

.section__image {
    display: block;
    margin: 0 auto;
    padding: 20px;
    object-fit: contain;
}

.section__element {
    background-image: url("../images/background-image.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    text-align: justify;
    text-indent: 50px;
}